@font-face {
    font-family: 'Nocturne';
    src: url(./assets/NocturneSerif-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nocturne';
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
}

.section-below {
    display: flex;
    justify-content: center;
}

/************************************ MAIN CARD ************************************/

.main-card {
    display: flex;
    background-image: url(assets/main-card-bg.webp);
    background-size: cover;
    background-position: center;
    width: 1100px;
    height: 370px;
    border-radius: 30px;
    padding: 30px 40px;
    margin-top: 80px;
    margin: 100px auto 0;
}

.main-card h1 {
    font-size: 44px;
    color: #fff;
    margin: 8px;
    margin-top: 0;
}

.main-card p {
    font-size: 19px;
    margin: 8px;
    color: #fff;
    margin-bottom: 0;
}

.main-card a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 8px;
    display: inline-block;
    text-align: right;
    width: 100%;
}

.main-card .a-line {
    height: 3px;
    width: 40px;
    background-color: #fff;
    display: inline-block;
    text-align: right;
    margin-bottom: 20px;
    margin-right: 20px;
}

.main-card img {
    z-index: 10;
    height: 450px;
    margin-top: -110px;
    margin-right: -20px;
    margin: -110px -10px 0 24px;
    transition: 0.2s ease;
}

.main-card img:hover {
    scale: 1.1;
}

/************************************ ARTWORKS ************************************/

.artworks {
    margin: 50px 0;
    /* width: 440px; */
}

.artworks h2 {
    color: #fff;
    font-size: 40px;
}

.artworks img {
    height: 320px;
    border-radius: 32px;
    margin: 4px;
    box-shadow: 0 0 15px 2px #000;
}

.artworks a button {
    width: 90%;
    height: 60px;
    background: linear-gradient(to bottom, #4f0810, #270706);
    border: none;
    border-radius: 18px;
    font-size: 28px;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.artworks a {
    text-decoration: none;
}

/************************************ STICKERS ************************************/

.stickers {
    display: flex;
    margin: 80px 50px 50px;
}

.sticker {
    height: 160px;
    width: 160px;
    /* border: 1px solid #000; */
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #000, #6f0f13);
    border-radius: 25px;
    box-shadow: 0 0 15px 2px #000;
}

.sticker img {
    height: 80%;
}

/************************************ DESCRIPTION ************************************/

.description {
    margin: 50px 0;
}

.description .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    background-color: #270706;
    margin: 20px 0;
    padding: 12px;
    color: #fff;
    border-radius: 24px;
    box-shadow: 0 0 15px 1px #000;
}

.description .card:nth-child(2) {
    background-color: #4f0810;
}

.description .card:nth-child(3) {
    background-color: #6f0f13;
}

.description .card .description-img {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description .card .description-img img {
    height: 90px;
    margin: 5px 10px;
}

.description .card .description-text {
    width: 75%;
    height: 100%;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}

.description .card .description-text h3 {
    letter-spacing: 1.5px;
}